/*Body*/

body.index { 
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
    background: #a7faf2;
    width: 800px;
    margin: 0 auto;
}



/*Index*/

.title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3em;
}

ul {
    list-style-type: none;
}

.links {
    box-sizing: border-box;
    width: 500px;
    height: auto;
    margin: 50px  auto;
    text-align: center;
}

.carbonara, .lasagna, .eggs {
    
    display: inline-block;
    padding: 8px 16px;
    margin: 8px;
    background-color: white;
    border: 2px solid  black;
}


/*Recipes*/

body.recipes { 
    font-family: Arial, Helvetica, sans-serif; 
    background: #dcfaf7;
    width: 1000px;
    margin: 0 auto;
}

.tips p {
    margin: 8px 0;
}

h4 {
    background-color: yellow;
    display: inline;
}

button {
    margin-top: 30px;
    padding: 0px;
}

.button {
    margin: 0px;
    padding: 15px;
    background-color: white;
    display: inline-block;
}