/*Body*/

body.index { 
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
    background: #a7faf2;
    width: 800px;
    margin: 0 auto;
}



/*Index*/

.title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3em;
}

ul {
    list-style-type: none;
}

.links {
    box-sizing: border-box;
    width: 500px;
    height: auto;
    margin: 50px  auto;
    text-align: center;
}

.carbonara, .lasagna, .eggs {
    
    display: inline-block;
    padding: 8px 16px;
    margin: 8px;
    background-color: white;
    border: 2px solid  black;
}


/*Recipes*/

body.recipes { 
    font-family: Arial, Helvetica, sans-serif; 
    background: #dcfaf7;
    width: 1000px;
    margin: 0 auto;
}

.image {
    margin: 30px 0;
    padding: 0 8px;
    border: 6px solid white;
}

img {                       /*Image center*/
    display: block;
    margin: 18.72px auto;
}

.legend {                   /*Legend align*/
    text-align: center;
    margin: 18.72px 0;
}

.ingredients {
    margin: 30px 0;
    padding: 0 8px;
    border: 6px solid white;
}

.steps {
    margin: 30px 0;
    padding: 0 8px;
    border: 6px solid white; 
}

.tips {
    margin: 30px 0;
    padding: 0 8px;
    border: 6px solid white;
}

span {                              /*Highlight tips*/
    background-color: yellow;
}

.button {                           /*Back button*/
    padding: 20px;
    background-color: white;
    display: inline-block;
}